{% extends 'DermaCareApp/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
<title>DermaCare Website - Change Password Page</title>
{% endblock %}

{% block content %}

<div class="body_container">

    <link rel="stylesheet" href="{% static 'DermaCareApp/homeresponsive.css'%}">
    <link rel="stylesheet" href="{% static 'DermaCareApp/DermaBlogPostForm.css' %}">
    <link rel="stylesheet" href="{% static 'UserAccount/Update_Userprofile_setting.css'%}">
{% if user.is_authenticated and user.is_dermatologist == True or user.is_patient == True%}
    <div class="blogpost_container">
        <div class="blogcontainer_partone">
            {% if user.is_authenticated and user.is_dermatologist == True or user.is_patient == True %}
                <div class="blogcontainer_partone_subpartone">
                    <div>
                        {% if user.userprofile.profile_picture %}
                            <img src="{{user.userprofile.profile_picture.url}}" width = "80" height="80">
                            {% else %}
                            <img src="{% static 'DermaCareApp/images/icons8-user-64.png' %}" width="50" height="50">
                        {% endif %}
                    </div>

                    <div class="sidebar_emailandusername">
                        <h4 class="sidebar_username">{{user.username}}</h4>
                        <h4>{{user.email}}</h4>
                    </div>
                </div>
                <div class="blogcontainer_partone_subparttwo">
        
                    {% endif %}
        
                    {% if user.is_authenticated and user.is_dermatologist == True or user.is_patient == True%}
                            <div class="blog_sidebar_menu">
                                <div>
                                    <img src="https://img.icons8.com/external-kmg-design-basic-outline-kmg-design/22/FFFFFF/external-logout-ui-essentials-kmg-design-basic-outline-kmg-design.png"/>
                                </div>
                                <div>
                                <button><a href="{% url 'DermaBlogPage' %}">Back</a></button>
                                </div>
                            </div>
                            <div class="blog_sidebar_menu">
                                <div>
                                    <img src="https://img.icons8.com/ios/22/FFFFFF/help--v1.png"/>
                                </div>
                                <div>
                                <button class="help_btn"><a href="#">Help</a></button>
                                </div>
                            </div>
                </div>
            {% endif %}
        </div>

        <div class="blogcontainer_parttwo">

            {% if user.is_authenticated %}
            <h2>Change Password</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="password_field">
                    <div>
                    <label>Old Password</label>
                    </div>
                    <div>
                {% render_field form.old_password type="password"  class="password_input_fields"%}

                    </div> 
                </div>

                <div class="password_field">
                    <div>
                    <label>New Password</label>
                    </div>

                    <div>
                {% render_field form.new_password1 type="password" class="password_input_fields"%}

                    </div>
                </div>

                <div class="password_field">
                    <div>
                    <label>Confirm New Password</label>

                    </div>
                    <div>
                {% render_field form.new_password2 type="password" class="password_input_fields" %}

                    </div>
                </div>
                
                
                <button class="change_password_btn">Change Password</button>
            </form>
            {% endif %}
            
        </div>
    </div>
{% endif %}
</div>

{% endblock %}