{% extends 'DermaCareApp/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>DermaCare Website - Password Reset Confirm Page </title>
{% endblock %}

{% block content %}
<div class="body_container">

  <link rel="stylesheet" href="{% static 'DermaCareApp/homeresponsive.css'%}">
  <link rel="stylesheet" href="{% static 'DermaCareApp/DermaBlogPostForm.css' %}">
  <link rel="stylesheet" href="{% static 'UserAccount/confirm_password.css' %}">

  {% if validlink %}
<div class="set_new_password">
  <h1>Enter new password</h1>
  <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="set_new_password_form">
      <label>New Password</label>
      <div>
        {% render_field form.new_password1 type="password" class="new_password_field" %}
      </div>
      <label>Confirm Password</label>
      <div>
        {% render_field form.new_password2 type="password" class="new_password_field" %}
      </div>

    </div>
    
    <button class="change_password_button">Change Password</button>
  </form>
</div>
{% else %}
<div class="confirm_password_invalidlink">
<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

</div>

{% endif %}
</div>

{% endblock %}
