{% extends 'DermaCareApp/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    <title>DermaCare Website - Password Reset Form </title>
{% endblock %}

{% block content %}

<div class="body_container">

    <link rel="stylesheet" href="{% static 'DermaCareApp/homeresponsive.css'%}">
    <link rel="stylesheet" href="{% static 'DermaCareApp/DermaBlogPostForm.css' %}">
    <link rel = "stylesheet" href="{% static 'UserAccount/login.css'%}">
    <link rel="stylesheet" href="{% static 'UserAccount/reset_password_form.css'%}">

    <div class="reset_email_form">

    <form method="POST">
        {% csrf_token %}
        <div class="reset_email_div">
            <div>
                <h1>Forgot your password?</h1>
                <p>Enter your email address below, and we'll email instructions for setting a new one.</p>              
            </div>
            <div>
                {% render_field form.email type="email" class="email_password_reset" %}

            </div> 
        </div>
        
        <button class="reset_password_button">Reset Password</button>
    </form>

</div>
</div>

{% endblock %}
