{% extends 'DermaCareApp/base.html' %}
{% load static %}
{% block title %}
<title>DermaCare Website - Password Reset Done Page</title>
{% endblock %}

{% block content %}
<div class="body_container">
    <link rel="stylesheet" href="{% static 'DermaCareApp/homeresponsive.css'%}">
    <link rel="stylesheet" href="{% static 'DermaCareApp/DermaBlogPostForm.css' %}">
    <link rel = "stylesheet" href="{% static 'UserAccount/login.css'%}">
    <link rel="stylesheet" href="{% static 'UserAccount/reset_done.css' %}">

    <div class="Reset_done_info_container">
        <div>
          <img src="{% static 'images/DermaCareBrandLogo.jpg' %}" width="250">
        </div>
        <h1>
          Password reset sent
        </h1>
        <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
          If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
        </p>
    </div>
</div>
{% endblock %}