.reset_email_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    top:30%;
    width: 50%;
    margin-top: 6rem;
    margin-bottom: 8rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border: 1px solid #339AF0;
    border-radius: 10px;
    font-family: 'Calibri';
    padding-top: 1rem;
}
.email_password_reset{
    width: 100%;
    padding: 0.5rem;
    font-family: 'Calibri';
    font-size: 17px;
    border: 1px solid #339AF0;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.email_password_reset:focus{
    outline: #339AF0;
}

.reset_password_button{
    width: 30%;
    background-color: #7cbef5;
    border: 1px solid #339AF0;
    border-radius: 5px;
    padding: 0.5rem;
    text-align: center;
    font-family: 'Calibri';
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 2rem;
    color: #FFFFFF;
}