{% extends 'DermaCareApp/base.html' %}
{% load static %}

{% block title %}
    <title>DermaCare Website - Dermatologists Blog catagories Page</title>
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'DermaCareApp/homeresponsive.css'%}">
<link rel="stylesheet" href="{% static 'DermaCareApp/homeresponsive.css'%}">
<link rel="stylesheet" href="{% static 'DermaCareApp/DermatologistBlog.css'%}">
<link rel="stylesheet" href="{% static 'DermaCareApp/NotAuthenticated.css'%}">
<div class="body_container">
    {% if user.is_authenticated and user.is_dermatologist == True and user.is_patient == False %}
    <div class="blogpost_container">
        <div class="blogcontainer_partone">
            {% if user.is_authenticated and user.is_dermatologist == True and user.is_patient == False %}
                <div class="blogcontainer_partone_subpartone">
                    <div>
                        {% if user.userprofile.profile_picture %}
                            <img src="{{user.userprofile.profile_picture.url}}" width = "80" height="80">
                            {% else %}
                            <img src="{% static 'DermaCareApp/images/icons8-user-64.png' %}" width="50" height="50">
                        {% endif %}
                    </div>

                    <div class="sidebar_emailandusername">
                        <h4 class="sidebar_username">{{user.username}}</h4>
                        <h4>{{user.email}}</h4>
                    </div>
                </div>
                <div class="blogcontainer_partone_subparttwo">
                    <div class="blog_sidebar_menu">
                        <div>
                            <img src="https://img.icons8.com/ios-filled/22/FFFFFF/add-property.png"/>
                        </div>

                        <div>
                        <button><a href="{% url 'AddDermaBlogPage' %}">Publish New Post</a></button>  
                        </div>
                        
                      </div>
                      <div class="blog_sidebar_menu">
                        <div>
                            <img src="https://img.icons8.com/windows/25/FFFFFF/add--v1.png"/>
                        </div>
                        <div>
                          <button><a href="{% url 'AddSkinDiseaseCategoryView'%}">Add Category</a></button>
                        </div>
                      </div>
                      <div class="blog_sidebar_menu">
                        <div>
                            <img src="https://img.icons8.com/ios-glyphs/25/FFFFFF/edit-user-female.png"/>
                        </div>
                        <div>
                          <button><a href="{%url 'UpdateProfilePage'%}">Manage Profile</a></button>
                        </div>
                      </div>
          
                      {% endif %}
          
                      {% if user.is_authenticated and user.is_dermatologist == True or user.is_patient == True%}
                              <!-- <div class="dropdown1">
                                <div class="filter_icon">
                                    <img src="https://img.icons8.com/ios-glyphs/23/FFFFFF/filter-and-sort.png"/>
                                </div>
                                <div>
                                    <button onclick="myFunction1()" class="UserDropBtn1">Filter Post</button>
                                    <div id="userDropdown1" class="user-dropdown-content1">
                                        <div>
                                        {% for item in category_menu%}
            
                                        <a href="{% url 'FilterBlogPostCategory' item %}">{{item}}</a>
                                
                                        {% endfor %}
                                    </div>
                                    
                                    </div>
                                </div>

                              </div>
          
          
                              <script>
          
                                  function myFunction1() {
                                  document.getElementById("userDropdown1").classList.toggle("show1");
                                  }
                      
                                  window.onclick = function(event) {
                                  if (!event.target.matches('.UserDropBtn1')) {
                                      var dropdowns = document.getElementsByClassName(".user-dropdown-content1");
                                      var i;
                                      for (i = 0; i < dropdowns.length; i++) {
                                      var openDropdown = dropdowns[i];
                                      if (openDropdown.classList.contains('show1')) {
                                          openDropdown.classList.remove('show1');
                                      }
                                      }
                                  }
                                  }
                      
                              </script> -->
          
          
                              <div class="blog_sidebar_menu">
                                <div>
                                    <img src="https://img.icons8.com/external-kmg-design-basic-outline-kmg-design/22/FFFFFF/external-logout-ui-essentials-kmg-design-basic-outline-kmg-design.png"/>
                                </div>
                                <div>
                                  <button><a href="{% url 'DermaBlogPage' %}">Back</a></button>
                                </div>
                              </div>
                              <div class="blog_sidebar_menu">
                                <div>
                                    <img src="https://img.icons8.com/ios/22/FFFFFF/help--v1.png"/>
                                </div>
                                <div>
                                  <button class="help_btn"><a href="#">Help</a></button>
                                </div>
                              </div>
                </div>
            

            {% endif %}
        </div>
        <div class="blogcontainer_parttwo">
    {% if user.is_authenticated %}
    <h2 class="Category_typetext">Skin Disease Category : {{FilterCategory}}</h2>
            
            {% if catagorie_list%}
            {% for post in catagorie_list %}

                {% if user.is_dermatologist == True and user.is_patient == False %}

                    <div class="blogcontainer_parttwo_container">

                        <div class="blogcontainer_parttwo_container_partone">
                            
                            <div class="blogcontainer_parttwo_container_partone_subone">
                                {% if post.author.userprofile.id %}
                                    <a href="{% url 'UserProfileInfoPage' post.author.userprofile.id %}">
                                
                                    {% if post.author.userprofile.profile_picture %}
        
                                        <img src="{{post.author.userprofile.profile_picture.url}}" width = "50" height="50">
                                
                                    {% else %}
                                        <img src="{% static 'DermaCareApp/images/icons8-user-64.png' %}" width="50" height="50">
                                    {% endif %}
                                    </a>
                                {% else %}
                                <img src="{% static 'DermaCareApp/images/icons8-user-64.png' %}" width="50" height="50" class="dummy_profile">
                                <a href="#" class="create_profle_link">Create Profile</a>
                                {% endif %}
                            </div>


                            <div class="blogcontainer_parttwo_container_partone_subtwo">
                                <div class="author_and_date">
                                    <div class="author_name">
                                         <h4>{{post.author}}</h4>
                                    </div>

                                    <div class="date_posted">
                                        <small>{{post.date_posted}}</small> 
                                    </div>
                                </div>

                                <div class="update_and_delete">
                                {% if user.id == post.author.id %}

                                  <div class="update_link">
                                    <a href="{% url 'UpdateDermaBlogView' post.pk %}">Update Post</a>
                                  </div>

                                  <div class="delete_link">
                                    <a href="{% url 'DeleteDermaBlogView' post.pk %}">Delete Post</a> 
                                  </div>
                                {% endif %}
                                
                                </div>
                            </div>

                        </div>

                        <div class="blogcontainer_parttwo_container_parttwo">
                            <div class="post_title">
                               <a href="{% url 'DermaBlogDetailsPage' post.pk %}">{{post.title}}</a>
                            </div>
                            <div class="post_category_link">
                                <a href="{% url 'FilterBlogPostCategory' post.content_category %}">Post category - {{post.content_category}}</a>
                            </div>
                        </div>


                        <div class="blogcontainer_parttwo_container_partthree">
                            <p>{{post.sub_content|safe}}</p>
                        </div>


                        <div class="blogcontainer_parttwo_container_partfour">
                            <button>
                                <a href="{% url 'DermaBlogDetailsPage' post.pk %}">Read More</a>
                            </button>
                            
                        </div>                    

                         <!-- <br> -->
                        <!-- <form action="{% url 'BlogLikesPage' post.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" name="post_id" value ="{{post.id}}">Like</button><span>{{like_value}} likes</span>
                        </form> -->
                    </div>
                {% endif %}

            {% endfor %}
            {% else %}
            <div class="No_Category_list_container">
                <div>
                    <img src="https://promo-theme.com/medina-wp/wp-content/uploads/2016/10/logo.png">
                </div>
                <div class="info_title">
                    <h2>No skin disease category called:{{FilterCategory}} is Found</h2>
                </div>
                <div class="info_detail">
                    <p>There is no any blog post refered as or have a category name called {{FilterCategory}}. But you can create a new one if you have the write qualification and knowledge about the skin condition refered above.</p>
                </div>
            </div>
            
            {% endif %}

    {% endif %}
    
        </div>
    </div>  
    {% endif %}

    {% if user.is_authenticated and user.is_dermatologist == False and user.is_patient == True %}
    <div class="blogpost_container">
        <div class="blogcontainer_partone">
            {% if user.is_authenticated and user.is_dermatologist == False and user.is_patient == True %}
                <div class="blogcontainer_partone_subpartone">
                    <div>
                        {% if user.userprofile.profile_picture %}
                            <img src="{{user.userprofile.profile_picture.url}}" width = "80" height="80">
                            {% else %}
                            <img src="{% static 'DermaCareApp/images/icons8-user-64.png' %}" width="50" height="50">
                        {% endif %}
                    </div>

                    <div class="sidebar_emailandusername">
                        <h4 class="sidebar_username">{{user.username}}</h4>
                        <h4>{{user.email}}</h4>
                    </div>
                </div>
                <div class="blogcontainer_partone_subparttwo">
                      <div class="blog_sidebar_menu">
                        <div>
                            <img src="https://img.icons8.com/ios-glyphs/25/FFFFFF/edit-user-female.png"/>
                        </div>
                        <div>
                          <button><a href="{%url 'UpdateProfilePage'%}">Manage Profile</a></button>
                        </div>
                      </div>
          
            {% endif %}
          
                      {% if user.is_authenticated and user.is_dermatologist == True or user.is_patient == True%}
                              <!-- <div class="dropdown1">
                                <div class="filter_icon">
                                    <img src="https://img.icons8.com/ios-glyphs/23/FFFFFF/filter-and-sort.png"/>
                                </div>
                                <div>
                                    <button onclick="myFunction1()" class="UserDropBtn1">Filter Post</button>
                                    <div id="userDropdown1" class="user-dropdown-content1">
                                        <div>
                                        {% for item in category_menu%}
            
                                        <a href="{% url 'FilterBlogPostCategory' item %}">{{item}}</a>
                                
                                        {% endfor %}
                                    </div>
                                    
                                    </div>
                                </div>

                              </div>
          
          
                              <script>
          
                                  function myFunction1() {
                                  document.getElementById("userDropdown1").classList.toggle("show1");
                                  }
                      
                                  window.onclick = function(event) {
                                  if (!event.target.matches('.UserDropBtn1')) {
                                      var dropdowns = document.getElementsByClassName(".user-dropdown-content1");
                                      var i;
                                      for (i = 0; i < dropdowns.length; i++) {
                                      var openDropdown = dropdowns[i];
                                      if (openDropdown.classList.contains('show1')) {
                                          openDropdown.classList.remove('show1');
                                      }
                                      }
                                  }
                                  }
                      
                              </script> -->
          
          
                              <div class="blog_sidebar_menu">
                                <div>
                                    <img src="https://img.icons8.com/external-kmg-design-basic-outline-kmg-design/22/FFFFFF/external-logout-ui-essentials-kmg-design-basic-outline-kmg-design.png"/>
                                </div>
                                <div>
                                  <button><a href="{% url 'DermaBlogPage' %}">Back</a></button>
                                </div>
                              </div>
                              <div class="blog_sidebar_menu">
                                <div>
                                    <img src="https://img.icons8.com/ios/22/FFFFFF/help--v1.png"/>
                                </div>
                                <div>
                                  <button class="help_btn"><a href="#">Help</a></button>
                                </div>
                              </div>
                </div>
            

            {% endif %}
        </div>
        <div class="blogcontainer_parttwo">
    {% if user.is_authenticated %}
    <h2 class="Category_typetext">Skin Disease Category : {{FilterCategory}}</h2>
            
            {% if catagorie_list%}
            {% for post in catagorie_list %}

                {% if user.is_dermatologist == True or user.is_patient == True %}

                    <div class="blogcontainer_parttwo_container">

                        <div class="blogcontainer_parttwo_container_partone">
                            
                            <div class="blogcontainer_parttwo_container_partone_subone">
                                {% if post.author.userprofile.id %}
                                    <a href="{% url 'UserProfileInfoPage' post.author.userprofile.id %}">
                                
                                    {% if post.author.userprofile.profile_picture %}
        
                                        <img src="{{post.author.userprofile.profile_picture.url}}" width = "50" height="50">
                                
                                    {% else %}
                                        <img src="{% static 'DermaCareApp/images/icons8-user-64.png' %}" width="50" height="50">
                                    {% endif %}
                                    </a>
                                {% else %}
                                <img src="{% static 'DermaCareApp/images/icons8-user-64.png' %}" width="50" height="50" class="dummy_profile">
                                {% endif %}
                            </div>


                            <div class="blogcontainer_parttwo_container_partone_subtwo">
                                <div class="author_and_date">
                                    <div class="author_name">
                                         <h4>{{post.author}}</h4>
                                    </div>

                                    <div class="date_posted">
                                        <small>{{post.date_posted}}</small> 
                                    </div>
                                </div>

                                {% if user.is_authenticated and user.is_dermatologist == True%}
                                <div class="update_and_delete">
                                {% if user.id == post.author.id %}

                                  <div class="update_link">
                                    <a href="{% url 'UpdateDermaBlogView' post.pk %}">Update Post</a>
                                  </div>

                                  <div class="delete_link">
                                    <a href="{% url 'DeleteDermaBlogView' post.pk %}">Delete Post</a> 
                                  </div>
                                {% endif %}
                                
                                </div>
                                {% endif %}
                            </div>

                        </div>

                        <div class="blogcontainer_parttwo_container_parttwo">
                            <div class="post_title">
                               <a href="{% url 'DermaBlogDetailsPage' post.pk %}">{{post.title}}</a>
                            </div>
                            <div class="post_category_link">
                                <a href="{% url 'FilterBlogPostCategory' post.content_category %}">Post category - {{post.content_category}}</a>
                            </div>
                        </div>


                        <div class="blogcontainer_parttwo_container_partthree">
                            <p>{{post.sub_content|safe}}</p>
                        </div>


                        <div class="blogcontainer_parttwo_container_partfour">
                            <button>
                                <a href="{% url 'DermaBlogDetailsPage' post.pk %}">Read More</a>
                            </button>
                            
                        </div>                    

                         <!-- <br> -->
                        <!-- <form action="{% url 'BlogLikesPage' post.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" name="post_id" value ="{{post.id}}">Like</button><span>{{like_value}} likes</span>
                        </form> -->
                    </div>
                {% endif %}

            {% endfor %}
            {% else %}
            <div class="No_Category_list_container">
                <div>
                    <img src="{% static 'images/DermaCareBrandLogo.jpg' %}" width="250">
                </div>
                <div class="info_title">
                    <h2>No skin disease category called:{{FilterCategory}} is Found</h2>
                </div>
                <div class="info_detail">
                    <p>There is no any blog post refered as or have a category name called {{FilterCategory}}. But you can create a new one if you have the write qualification and knowledge about the skin condition refered above.</p>
                </div>
            </div>
            
            {% endif %}

    {% endif %}
    
        </div>
    </div>  
    {% endif %}
    
</div>      

{% endblock %}


<!-- {% for post in catagorie_list %}

#{% if user.is_authenticated%}
<h4>By {{post.author}}   <small>{{post.date_posted}}</small> 

    {% if user.id == post.author.id %}
    - <a href="{% url 'UpdateDermaBlogView' post.pk %}">Update</a>
    - <a href="{% url 'DeleteDermaBlogView' post.pk %}">Delete</a> 

#   {% endif %}
</h4>
#{% endif %}
<h3>{{post.title}}</h3>
<p>{{post.content|safe}}</p>
<a href="{% url 'FilterBlogPostCategory' post.content_category %}">{{post.content_category}}</a>
<h5>{{user.speciality}}</h5>

{% endfor %} -->

<!-- {% if user.is_authenticated and user.is_dermatologist == True and user.is_patient == False %}
<a href="{% url 'AddDermaBlogPage' %}">Add DermaBlog Post</a>
<a href="{% url 'AddSkinDiseaseCategoryView'%}">Add Skin Disease Category</a>
{% endif %}

{% if user.is_authenticated and user.is_dermatologist == True or user.is_patient == True%}
<a href="{% url 'logout' %}">Log out</a>
{% endif %} -->
