<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
          
           <div>
              <p>Dear Birhan,</p>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque numquam enim labore quo maxime nobis repudiandae est doloribus molestiae odio? Explicabo officiis vel aut, quasi vero autem est quam dolorem laboriosam ipsam delectus sit quae ut. Quaerat distinctio perferendis aspernatur labore? Deleniti voluptatem nostrum repellendus non. Consectetur, dolor. Ipsa facilis inventore voluptatem eum vitae nisi quod. Voluptate facere similique nisi!
                <br><br>
                The date of the appointmeent is set to your prefered date.
              </p>

              <p>Thank you for choosing us!
                <br>
                Dermacare,
              </p>
            </div>
</body>
</html>